<h1>Spelling Test</h1>
	<br>
    <div>
		<b>Message: </b><p id="message-answer"> </p>
	</div>
	
	<br>
	<div>
		<b>Count: </b><p id="message-count"> </p>
	</div>

	<br>
		<input type="text" id="answer" style="font-size: 45px;" >
		
	<br>
	<br>
	<div style="display:inline-block;" >
		<button type="button" class="btn btn-primary" onclick="previous()" >Previous</button>
		<button type="button" class="btn btn-primary" onclick="say()" >Say</button>
		<button type="button" class="btn btn-primary" onclick="check()" >Check</button>
		<button type="button" class="btn btn-primary" onclick="showDefine()" >Show Definition</button>
		<button type="button" class="btn btn-primary" onclick="show()" >Show</button>
		<button type="button" class="btn btn-primary" onclick="next()" >Next</button>
	</div>

	<br>
	<br>
	<div>
		<b>Word: </b><p id="word"> </p>
		<b>Part of Speech: </b><p id="part-of-speech"> </p>
		<b>Definition: </b><p id="definition"> </p>
		<b>Word Usage: </b><p id="word-usage"> </p>
		<b>Total Try Count: </b><p id="total-try-count"> </p>
		<b>Right Count: </b><p id="right-count"> </p>
	</div>

